In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import statistics

# acquire
from pydataset import data
import seaborn as sns

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
import pydataset
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer
from scipy.stats import norm
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

np.random.seed(123)

In [2]:
# Acquire data from kaggle csv
df = pd.read_csv('india_fuel_prices.csv', index_col=0)
df.head()

               diesel      petrol
Adilabad    99.84 ₹/L  111.83 ₹/L
Agar Malwa  94.89 ₹/L  109.70 ₹/L
Agra        89.80 ₹/L   96.63 ₹/L
Ahmadnagar  93.03 ₹/L  106.53 ₹/L
Ahmedabad   92.17 ₹/L   96.42 ₹/L

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 698 entries, Adilabad to Zunheboto
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   diesel  698 non-null    object
 1   petrol  698 non-null    object
dtypes: object(2)
memory usage: 16.4+ KB

In [4]:
df.shape

(698, 2)

In [5]:
df.describe()

           diesel     petrol
count         698        698
unique        512        536
top     89.62 ₹/L  96.72 ₹/L
freq           12         11

In [6]:
df.dtypes

diesel    object
petrol    object
dtype: object

In [7]:
df.columns

Index(['diesel', 'petrol'], dtype='object')

In [8]:
df.index

Index(['Adilabad', 'Agar Malwa', 'Agra', 'Ahmadnagar', 'Ahmedabad', 'Aizawl',
       'Ajmer', 'Akola', 'Alappuzha', 'Aligarh',
       ...
       'West Siang', 'West Singhbhum', 'West Tripura', 'Wokha',
       'Yadadri Bhuvanagiri', 'Yadgir', 'Yamunanagar', 'Yanam', 'Yavatmal',
       'Zunheboto'],
      dtype='object', length=698)

In [9]:
df1 = pd.read_csv('Austin_TX_Hate_Crimes_2020.csv', index_col=0)
df1

,Incident Number,Date of Incident,Day of Week,Number of Victims under 18,Number of Victims over 18,Number of Offenders under 18,Number of Offenders over 18,Race/Ethnicity of Offenders,Offense(s),Offense Location,Bias,Notes
Month,,,,,,,,,,,,
March,2020-602085,3/1/2020,Sunday,0,1,0,1,White/Non-Hispanic,Criminal Mischief,Residence/Home,Anti-Black or African American,NaN
March,2020-680226,3/8/2020,Sunday,0,1,0,2,White/Hispanic,Assault,Parking Lot,Anti-Gay (Male); Anti-Transgender,NaN
March,2020-5011788,3/22/2020,Sunday,0,1,0,0,Unknown,Criminal Mischief,Residence/Home,Anti-Gay (Male); Anti-Jewish,NaN
April,2020-5015689,4/20/2020,Monday,0,1,0,0,Unknown,Criminal Mischief,Church/Synagogue/Temple/Mosque,Anti-Buddhist,NaN
April,2020-5016804,4/29/2020,Wednesday,0,1,0,1,Black/Non-Hispanic,Assault by Threat,Department/Discount Store,Anti-Gay (Male); Anti-Transgender,NaN
May,2020-1381131,5/17/2020,Sunday,0,1,0,1,White/Non-Hispanic,Assault by Contact,Convenience Store,Anti-Black or African American,NaN
May,2020-1410411,5/20/2020,Wednesday,0,1,0,1,White/Non-Hispanic,Assault with Injury,Streets/Highway/Road/Alley,Anti-Hispanic or Latino,NaN
June,2020-1560947,6/4/2020,Thursday,0,1,0,1,Unknown,Criminal Mischief,Residence/Home,Anti-Black or African American,NaN
June,2020-1610708,6/9/2020,Tuesday,0,1,0,1,Unknown,Criminal Mischief,Streets/Highway/Road/Alley,Anti-Black or African American,NaN
June,2020-1690572,6/17/2020,Wednesday,0,1,0,1,Unknown,Criminal Mischief,Parking Lot,Anti-Black or African American,NaN
June,2020-1750961,6/23/2020,Tuesday,0,1,0,1,Unknown,Criminal Mischief,Streets/Highway/Road/Alley,Anti-Black or African American,NaN
July,2020-2061031,7/24/2020,Friday,0,1,0,1,White/Hispanic,Aggravated Assault,Streets/Highway/Road/Alley,Anti-Gay (Male),NaN
March,2020-602085,3/1/2020,Sunday,0,1,0,1,White/Non-Hispanic,Criminal Mischief,Residence/Home,Anti-Black or African American,NaN
March,2020-680226,3/8/2020,Sunday,0,1,0,2,White/Hispanic,Assault,Parking Lot,Anti-Gay (Male); Anti-Transgender,NaN
March,2020-5011788,3/22/2020,Sunday,0,1,0,0,Unknown,Criminal Mischief,Residence/Home,Anti-Gay (Male); Anti-Jewish,NaN
April,2020-5015689,4/20/2020,Monday,0,1,0,0,Unknown,Criminal Mischief,Church/Synagogue/Temple/Mosque,Anti-Buddhist,NaN
April,2020-5016804,4/29/2020,Wednesday,0,1,0,1,Black/Non-Hispanic,Assault by Threat,Department/Discount Store,Anti-Gay (Male); Anti-Transgender,NaN
May,2020-1381131,5/17/2020,Sunday,0,1,0,1,White/Non-Hispanic,Assault by Contact,Convenience Store,Anti-Black or African American,NaN
May,2020-1410411,5/20/2020,Wednesday,0,1,0,1,White/Non-Hispanic,Assault with Injury,Streets/Highway/Road/Alley,Anti-Hispanic or Latino,NaN
June,2020-1560947,6/4/2020,Thursday,0,1,0,1,Unknown,Criminal Mischief,Residence/Home,Anti-Black or African American,NaN
June,2020-1610708,6/9/2020,Tuesday,0,1,0,1,Unknown,Criminal Mischief,Streets/Highway/Road/Alley,Anti-Black or African American,NaN
June,2020-1690572,6/17/2020,Wednesday,0,1,0,1,Unknown,Criminal Mischief,Parking Lot,Anti-Black or African American,NaN
June,2020-1750961,6/23/2020,Tuesday,0,1,0,1,Unknown,Criminal Mischief,Streets/Highway/Road/Alley,Anti-Black or African American,NaN
July,2020-2061031,7/24/2020,Friday,0,1,0,1,White/Hispanic,Aggravated Assault,Streets/Highway/Road/Alley,Anti-Gay (Male),NaN
August,2020-2411593,8/28/2020,Friday,0,1,0,1,White/Non-Hispanic,Aggravated Assault,Streets/Highway/Road/Alley,Anti-Black or African American,NaN
September,2020-2470835,9/3/2020,Thursday,0,1,0,1,Unknown,Criminal Mischief,Streets/Highway/Road/Alley,Anti-Black or African American,NaN
September,2020-2680600,9/24/2020,Thursday,0,1,0,1,White/Non-Hispanic,Assault by Threat,Streets/Highway/Road/Alley,Anti-Black or African American,NaN
October,2020-2821029,10/8/2020,Thursday,0,1,0,1,Black/Non-Hispanic,Assault with Injury,Streets/Highway/Road/Alley,Anti-White,NaN
October,2020-5042285,10/19/2020,Monday,0,1,0,1,Black/Non-Hispanic,Aggravated Assault,Parking Lots/ Garage,Anti-Gay (Male),NaN
November,2020-3110610,11/6/2020,Friday,0,1,0,1,White/Non-Hispanic,Assault with Injury,Specialty Store,Anti-Lesbian/Gay/Transgender,NaN
November,2020-3170909,11/12/2020,Thursday,0,1,0,1,Unknown,Bomb Threat,Government/ Public Building,Anti-Black or African American,NaN
November,2020-3261352,11/21/2020,Saturday,0,1,0,1,White/Non-Hispanic,Reckless Driving,Streets/Highway/Road/Alley,Anti-Black or African American,NaN
November,2020-3350913,11/30/2020,Monday,0,1,0,1,Black/Non-Hispanic,Burglary of Residence,Residence/Home,Anti-Gay (Male),NaN
December,2020-3441066,2020-12-09T00:00:00.000,Wednesday,0,1,0,1,Black/Non-Hispanic,Criminal Mischief,Parking Lots/ Garage,Anti-Gay (Male),NaN
December,2020-3490121,2020-12-14T00:00:00.000,Monday,0,1,0,1,White/Non-Hispanic,Aggravated Assault,Streets/Highway/Road/Alley,Anti-Gay (Male),NaN

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, March to December
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Incident Number               35 non-null     object
 1   Date of Incident              35 non-null     object
 2   Day of Week                   35 non-null     object
 3   Number of Victims under 18    35 non-null     int64
 4   Number of Victims over 18     35 non-null     int64
 5   Number of Offenders under 18  35 non-null     int64
 6   Number of Offenders over 18   35 non-null     int64
 7   Race/Ethnicity of Offenders   35 non-null     object
 8   Offense(s)                    35 non-null     object
 9   Offense Location              35 non-null     object
 10  Bias                          35 non-null     object
 11  Notes                         0 non-null      float64
dtypes: float64(1), int64(4), object(7)
memory usage: 3.6+ KB

In [11]:
df1.shape

(35, 12)

In [12]:
df1.describe()

,Number of Victims under 18,Number of Victims over 18,Number of Offenders under 18,Number of Offenders over 18,Notes
count,35.0,35.0,35.0,35.000000,0.0
mean,0.0,1.0,0.0,0.942857,NaN
std,0.0,0.0,0.0,0.416064,NaN
min,0.0,1.0,0.0,0.000000,NaN
25%,0.0,1.0,0.0,1.000000,NaN
50%,0.0,1.0,0.0,1.000000,NaN
75%,0.0,1.0,0.0,1.000000,NaN
max,0.0,1.0,0.0,2.000000,NaN

In [13]:
df1.dtypes

Incident Number                  object
Date of Incident                 object
Day of Week                      object
Number of Victims under 18        int64
Number of Victims over 18         int64
Number of Offenders under 18      int64
Number of Offenders over 18       int64
Race/Ethnicity of Offenders      object
Offense(s)                       object
Offense Location                 object
Bias                             object
Notes                           float64
dtype: object

In [14]:
df1.columns

Index(['Incident Number', 'Date of Incident', 'Day of Week',
       'Number of Victims under 18', 'Number of Victims over 18',
       'Number of Offenders under 18', 'Number of Offenders over 18',
       'Race/Ethnicity of Offenders', 'Offense(s)', 'Offense Location', 'Bias',
       'Notes'],
      dtype='object')

In [15]:
df1.index

Index(['March', 'March', 'March', 'April', 'April', 'May', 'May', 'June',
       'June', 'June', 'June', 'July', 'March', 'March', 'March', 'April',
       'April', 'May', 'May', 'June', 'June', 'June', 'June', 'July', 'August',
       'September', 'September', 'October', 'October', 'November', 'November',
       'November', 'November', 'December', 'December'],
      dtype='object', name='Month')

In [16]:
df2 = pd.read_csv('Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_Federal_and_Agency_2019.csv', index_col=0)
df2.head()

,Agency Type,Agency,Race/\nEthnicity/\nAncestry,Religion,Sexual\norientation,Disability,Gender,Gender\nidentity,1st\nquarter,2nd\nquarter,3rd\nquarter,4th\nquarter,Population
State,,,,,,,,,,,,,
Alaska,Cities,Anchorage,4.0,0,2.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,"287,731"
Alaska,Cities,Fairbanks,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"31,493"
Alaska,Cities,Kotzebue,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"3,272"
Alaska,Cities,North Pole,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,"2,111"
Alaska,Cities,Soldotna,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,"4,756"

In [17]:
df3 = pd.read_csv('New_York_Hate_Crimes_by_County_and_Bias_Type_2010-2019.csv', index_col=0)
df3

,Year,Crime Type,Anti-Male,Anti-Female,Anti-Transgender,Anti-Gender Identity Expression,Anti-Age*,Anti-White,Anti-Black,Anti-American Indian/Alaskan Native,...,Anti-Gay Male,Anti-Gay Female,Anti-Gay (Male and Female),Anti-Heterosexual,Anti-Bisexual,Anti-Physical Disability,Anti-Mental Disability,Total Incidents,Total Victims,Total Offenders
County,,,,,,,,,,,,,,,,,,,,,
Albany,2010,Crimes Against Persons,0,0,0,0,0,0,9,0,...,2,1,0,0,0,0,0,13,13,20
Albany,2010,Property Crimes,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,2,2,2
Albany,2011,Crimes Against Persons,0,0,0,0,0,0,4,0,...,2,0,0,0,0,0,0,7,7,7
Albany,2011,Property Crimes,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,3,3,3
Albany,2012,Crimes Against Persons,0,0,0,0,0,0,1,0,...,0,1,1,0,0,0,0,5,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Westchester,2017,Property Crimes,0,0,0,0,0,1,2,0,...,0,0,0,0,0,0,0,16,16,16
Westchester,2018,Crimes Against Persons,0,0,0,0,0,1,2,0,...,2,0,0,0,0,0,0,6,6,6
Westchester,2018,Property Crimes,0,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,15,15,15
Westchester,2019,Crimes Against Persons,0,0,0,0,0,3,1,0,...,1,0,0,0,0,0,0,9,10,12
Westchester,2019,Property Crimes,0,0,0,0,0,0,2,0,...,0,1,0,0,0,0,0,14,14,14