In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import statistics

# acquire
from pydataset import data
import seaborn as sns

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
import pydataset
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer
from scipy.stats import norm
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

np.random.seed(123)

In [2]:
# Acquire data from kaggle csv
df = pd.read_csv('india_fuel_prices.csv', index_col=0)
df.head()

               diesel      petrol
Adilabad    99.84 ₹/L  111.83 ₹/L
Agar Malwa  94.89 ₹/L  109.70 ₹/L
Agra        89.80 ₹/L   96.63 ₹/L
Ahmadnagar  93.03 ₹/L  106.53 ₹/L
Ahmedabad   92.17 ₹/L   96.42 ₹/L

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 698 entries, Adilabad to Zunheboto
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   diesel  698 non-null    object
 1   petrol  698 non-null    object
dtypes: object(2)
memory usage: 16.4+ KB

In [5]:
df.shape

(698, 2)

In [8]:
df.describe()

           diesel     petrol
count         698        698
unique        512        536
top     89.62 ₹/L  96.72 ₹/L
freq           12         11

In [9]:
df.dtypes

diesel    object
petrol    object
dtype: object

In [10]:
df.columns

Index(['diesel', 'petrol'], dtype='object')

In [11]:
df.index

Index(['Adilabad', 'Agar Malwa', 'Agra', 'Ahmadnagar', 'Ahmedabad', 'Aizawl',
       'Ajmer', 'Akola', 'Alappuzha', 'Aligarh',
       ...
       'West Siang', 'West Singhbhum', 'West Tripura', 'Wokha',
       'Yadadri Bhuvanagiri', 'Yadgir', 'Yamunanagar', 'Yanam', 'Yavatmal',
       'Zunheboto'],
      dtype='object', length=698)