# Indian Gas Prices
## Goal
* Discover drivers of gas prices

## Imports

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import statistics

# acquire
from pydataset import data
import seaborn as sns

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
import pydataset
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer
from scipy.stats import norm
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

np.random.seed(123)

# Acquire
* Data acquired from kaggle
* 2 columns and 698 rows
* Each row represents a area in india
* Each column is either diesel and petrol

In [2]:
df = pd.read_csv('india_fuel_prices.csv', index_col=0)

## A brief look at the data

In [3]:
df.head()

               diesel      petrol
Adilabad    99.84 ₹/L  111.83 ₹/L
Agar Malwa  94.89 ₹/L  109.70 ₹/L
Agra        89.80 ₹/L   96.63 ₹/L
Ahmadnagar  93.03 ₹/L  106.53 ₹/L
Ahmedabad   92.17 ₹/L   96.42 ₹/L

## A summary of the data

In [4]:
df.describe()

           diesel     petrol
count         698        698
unique        512        536
top     89.62 ₹/L  96.72 ₹/L
freq           12         11